<script src="vue.min.js"></script>

<div id="div1">
	
	<button @click="toggle">切换</button>
	<div v-if="show">默认是看得到的</div>
	<div v-else>现在看不到</div>
	
</div>

<div id="div2">
	<a :class="index">page</a>
</div>

<div id="div3">
	<input v-model.lazy="name">
	<div v-if="name">{{ isRight() }}</div>
	<button @click="doClick">提交</button>
	<select v-model="selected">
		<option disable value="">请选择</option>
		<option>AD</option>
		<option>AC</option>
		<option>ADC</option>
	</select>
	<p>{{selected}}</p>
</div>

<script>
	
	new Vue({
		el: '#div1',
		data: {
			show: true
		},
		methods:{
			toggle: function(){
				this.show = !this.show;
			}
		}
	})
	
	new Vue({
		el: '#div2',
		data: {
			index:'active'
		}
	})
	
	new Vue({
		el: '#div3',
		data: {
			name: "",
			selected: "",
		},
		methods: {
			doClick:function(){
				alert(this.name);
			},
			isRight:function(){
				if(this.name == "right")
					return "right";
				else return "no";
			},
		}
	})
	
</script>